<app-layout [displayTopBar]="true">
    <div class="register">
        <div class="register-header"><button mat-icon-button aria-label="Back" (click)="back()"><img src="assets/arrow_20.svg" alt="Back"/></button></div>
        <div class="register-img"><img src="assets/logo.png" alt="logo"></div>
        <div class="register-content">
            <h1 class="register-title">Inscription</h1>
            <form class="register-form" [formGroup]="form" (ngSubmit)="submit()">
                <app-custom-input label="Nom d’utilisateur" type="text" [control]="form.controls['name']" />
                <app-custom-input label="E-mail ou nom d’utilisateur" type="email" [control]="form.controls['email']" />
                <app-custom-input label="Mot de passe" type="password" [control]="form.controls['password']"/>
                <button mat-flat-button color="primary" type="submit">S’inscrire</button>
            </form>
        </div>
    </div>
</app-layout>
