<app-layout [displayTopBar]="true">
    <div class="article-new">
        <div class="articles-new-header">
            <div><button mat-icon-button aria-label="Back" (click)="back()"><img src="assets/arrow_20.svg" alt="Back"/></button></div>
            <h1 class="article-new-title">Créer un nouvel article</h1>
            <div></div>
        </div>
        <div class="article-new-content">
            <form class="article-new-form" [formGroup]="form" (ngSubmit)="submit()">
                <app-custom-input placeholder="Titre de l’article" type="text" [control]="form.controls['title']" />
                <app-custom-select placeholder="Themes" [options]="themes$ | async" [control]="form.controls['theme']"/>
                <app-custom-input placeholder="Contenu de l’article" type="text" [control]="form.controls['content']"/>
                <button mat-flat-button color="primary" type="submit">Créer</button>
            </form>
        </div>
    </div>
</app-layout>
